@page "/dashboard"
@* @attribute [Authorize] *@

<PageTitle>Dashboard</PageTitle>

<div class="container-fluid">
    <h3>Dashboard</h3>
    <p>Esta página será actualizada en la Fase 11</p>
</div>

@code {
    // Temporalmente vacío - se implementará en Fase 11
}
