@page "/goals"
@attribute [Authorize]

<PageTitle>Metas Financieras</PageTitle>

<div class="container-fluid">
    <h3>Metas Financieras</h3>
    <p>Esta página será actualizada en la Fase 10</p>
</div>

@code {
    // Temporalmente vacío - se implementará en Fase 10
}