@page "/transactions"
@attribute [Authorize]

<PageTitle>Gastos e Ingresos</PageTitle>

<div class="container-fluid">
    <h3>Gastos e Ingresos</h3>
    <p>Esta página será actualizada en la Fase 9</p>
</div>

@code {
    // Temporalmente vacío - se implementará en Fase 9
}